#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "default_layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;
        keys  //                     w   h    x     y     rot   rx   ry
            = <&key_physical_attrs 100 100    0    75      0    0    0>
            , <&key_physical_attrs 100 100  100    25      0    0    0>
            , <&key_physical_attrs 100 100  200     0      0    0    0>
            , <&key_physical_attrs 100 100  300    35      0    0    0>
            , <&key_physical_attrs 100 100  400    45      0    0    0>
            , <&key_physical_attrs 100 100 1200    45      0    0    0>
            , <&key_physical_attrs 100 100 1300    35      0    0    0>
            , <&key_physical_attrs 100 100 1400     0      0    0    0>
            , <&key_physical_attrs 100 100 1500    25      0    0    0>
            , <&key_physical_attrs 100 100 1600    75      0    0    0>
            , <&key_physical_attrs 100 100    0   175      0    0    0>
            , <&key_physical_attrs 100 100  100   125      0    0    0>
            , <&key_physical_attrs 100 100  200   100      0    0    0>
            , <&key_physical_attrs 100 100  300   135      0    0    0>
            , <&key_physical_attrs 100 100  400   145      0    0    0>
            , <&key_physical_attrs 100 100 1200   145      0    0    0>
            , <&key_physical_attrs 100 100 1300   135      0    0    0>
            , <&key_physical_attrs 100 100 1400   100      0    0    0>
            , <&key_physical_attrs 100 100 1500   125      0    0    0>
            , <&key_physical_attrs 100 100 1600   175      0    0    0>
            , <&key_physical_attrs 100 100    0   275      0    0    0>
            , <&key_physical_attrs 100 100  100   225      0    0    0>
            , <&key_physical_attrs 100 100  200   200      0    0    0>
            , <&key_physical_attrs 100 100  300   235      0    0    0>
            , <&key_physical_attrs 100 100  400   245      0    0    0>
            , <&key_physical_attrs 100 100 1200   245      0    0    0>
            , <&key_physical_attrs 100 100 1300   235      0    0    0>
            , <&key_physical_attrs 100 100 1400   200      0    0    0>
            , <&key_physical_attrs 100 100 1500   225      0    0    0>
            , <&key_physical_attrs 100 100 1600   275      0    0    0>
            , <&key_physical_attrs 100 100  100   500      0    0    0>
            , <&key_physical_attrs 100 100  250   350      0    0    0>
            , <&key_physical_attrs 100 100  350   375      0    0    0>
            , <&key_physical_attrs 100 100  450   400      0    0    0>
            , <&key_physical_attrs 100 100 1150   400      0    0    0>
            , <&key_physical_attrs 100 100 1250   375      0    0    0>
            , <&key_physical_attrs 100 100 1350   350      0    0    0>
            , <&key_physical_attrs 100 100 1500   500      0    0    0>
            ;
    };
};
