/*
 * Ferris Sweep (cradio) 34 键布局
 * 从 Lily58 "双核驱动" 精简而来，保留 Callum OSM + Vim Nav 核心
 *
 * 布局：3x5+2 (每侧 17 键)
 * 拇指键：与 Lily58 内侧 4 键完全一致，砍掉最外侧 ESC 和 LSHFT
 *   左: SPACE(NAV) TAB(NUM)  |  右: ENTER(SYM) BSPC(MOUSE)
 *   FUN = 左双拇指 combo  |  MEDIA = 右双拇指 combo
 *
 * Layer 0: Base     - QWERTY
 * Layer 1: Nav      - 左手 OSM + 右手 Vim HJKL
 * Layer 2: Numpad   - 左手算术运算 + 右手纯数字九宫格
 * Layer 3: Symbols  - 左手符号区 + 右手 OSM 修饰键
 * Layer 4: Mouse    - 左手鼠标移动/滚轮/点击 + 右手 OSM
 * Layer 5: Function - 左手 OSM/BT + 右手 F 键九宫格
 * Layer 6: Media    - 左手媒体/音量/亮度 + 右手 OSM
 *
 * Lily58 独有未移植: Snipe (1/4速鼠标), Turbo (2x速鼠标)
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define NAV   1
#define NUM   2
#define SYM   3
#define MOUSE 4
#define FUN   5
#define MEDIA 6

// Cradio 键位编号 (34 键):
//  0  1  2  3  4       5  6  7  8  9
// 10 11 12 13 14      15 16 17 18 19
// 20 21 22 23 24      25 26 27 28 29
//             30 31  32 33

&mmv {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <500>;
    delay-ms = <0>;
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <500>;
    delay-ms = <0>;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
            ignore-modifiers;
        };

        skn: sticky_key_normal {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            ignore-modifiers;
        };

        tlt: thumb_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };
    };

    macros {
        swapper: swapper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp TAB>
                , <&macro_pause_for_release>
                , <&macro_release &kp LALT>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";

        // S + D = Escape
        combo_esc {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp ESC>;
            layers = <BASE>;
            require-prior-idle-ms = <200>;
        };

        // F + J = Caps Word
        combo_caps_word {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&caps_word>;
            layers = <BASE>;
            require-prior-idle-ms = <200>;
        };

        // J + K = LSHFT
        combo_lshft {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LSHFT>;
            layers = <BASE>;
            require-prior-idle-ms = <150>;
        };

        // 左双拇指 = FUN 层 (对应 Lily58 的 SPACE+TAB combo)
        combo_fun_layer {
            timeout-ms = <50>;
            key-positions = <30 31>;
            bindings = <&mo FUN>;
            layers = <BASE>;
        };

        // 右双拇指 = MEDIA 层 (对应 Lily58 的 ENTER+BSPC combo)
        combo_media_layer {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&mo MEDIA>;
            layers = <BASE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │  Q  │  W  │  E  │  R  │  T  │   │  Y  │  U  │  I  │  O  │  P  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  A  │  S  │  D  │  F  │  G  │   │  H  │  J  │  K  │  L  │  ;  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  Z  │  X  │  C  │  V  │  B  │   │  N  │  M  │  ,  │  .  │  /  │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │SPACE│ TAB │   │ENTER│BSPC │
//                   │(NAV)│(NUM)│   │(SYM)│(MOU)│
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T       &kp Y  &kp U  &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F  &kp G       &kp H  &kp J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V  &kp B       &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH
              &tlt NAV SPACE  &tlt NUM TAB       &tlt SYM RET  &tlt MOUSE BSPC
            >;
        };

        nav_layer {
            display-name = "Nav";
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │ SWP │S-TAB│ RET │LSHFT│BSPC │   │C(←) │ C-D │ C-U │C(→) │ DEL │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │ GUI │ ALT │CTRL │LSHFT│CAPW │   │  ←  │  ↓  │  ↑  │  →  │C(DEL)│
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │C(Z) │C(X) │C(C) │C(V) │  ME │PgDn │PgUp │ END │C(BS)│
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │▓▓▓▓▓│     │   │     │     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
&swapper   &kp LS(TAB)  &kp RET    &kp LSHFT  &kp BSPC       &kp LC(LEFT) &kp LC(D)  &kp LC(U)  &kp LC(RIGHT) &kp DEL
&skn LGUI  &skn LALT    &skn LCTRL &skq LSHFT &caps_word      &kp LEFT     &kp DOWN   &kp UP     &kp RIGHT     &kp LC(DEL)
&kp LC(Z)  &kp LC(X)    &kp LC(C)  &kp LC(V)  &trans          &kp HOME     &kp PG_DN  &kp PG_UP  &kp END       &kp LC(BSPC)
                                    &trans     &trans          &kp RET       &kp BSPC
            >;
        };

        num_layer {
            display-name = "Num";
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │     │     │     │     │     │   │  .  │  7  │  8  │  9  │  -  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │ GUI │ ALT │CTRL │LSHFT│BSPC │   │     │  4  │  5  │  6  │  +  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │  /  │  *  │  =  │     │   │     │  1  │  2  │  3  │     │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │▓▓▓▓▓│   │     │  0  │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
&trans     &trans     &trans      &trans     &trans          &kp DOT   &kp N7  &kp N8  &kp N9  &kp MINUS
&skn LGUI  &skn LALT  &skn LCTRL  &skq LSHFT &kp BSPC       &trans    &kp N4  &kp N5  &kp N6  &kp PLUS
&trans     &kp FSLH   &kp ASTRK   &kp EQUAL  &trans          &trans    &kp N1  &kp N2  &kp N3  &trans
                                   &trans     &trans          &kp RET    &kp N0
            >;
        };

        sym_layer {
            display-name = "Sym";
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │  !  │  @  │  #  │  $  │  %  │   │  ^  │  &  │  *  │  =  │  '  │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  (  │  {  │  [  │  <  │  _  │   │  |  │LSHFT│CTRL │ ALT │ GUI │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │  )  │  }  │  ]  │  >  │  `  │   │  \  │  ~  │  :  │  "  │  ?  │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │     │   │▓▓▓▓▓│     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
&kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT      &kp CARET  &kp AMPS    &kp ASTRK   &kp EQUAL  &kp SQT
&kp LPAR  &kp LBRC  &kp LBKT  &kp LT    &kp UNDER      &kp PIPE   &skq LSHFT  &skn RCTRL  &skn RALT  &skn RGUI
&kp RPAR  &kp RBRC  &kp RBKT  &kp GT    &kp GRAVE      &kp BSLH   &kp TILDE   &kp COLON   &kp DQT    &kp QMARK
                               &kp SPACE    &kp TAB          &trans     &trans
            >;
        };

        mouse_layer {
            display-name = "Mouse";
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │UNDO │REDO │VD_L │VD_R │     │   │     │     │     │     │     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │ ML  │ MU  │ MD  │ MR  │   │     │LSHFT│CTRL │ ALT │ GUI │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │WH_L │WH_U │WH │   │     │     │     │     │     │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │RCLK │LCLK │   │     │▓▓▓▓▓│
//                   └─────┴─────┘   └─────┴─────┘
// 注: Lily58 拇指有 MCLK(中键), Sweep 只有 2 拇指键放不下
// 注: Lily58 行3右手有 Snipe/Turbo 层切换, Sweep 未移植
            bindings = <
&kp LC(Z)  &kp LC(Y)      &kp LC(LG(LEFT)) &kp LC(LG(RIGHT)) &trans              &trans  &trans     &trans     &trans    &trans
&trans     &mmv MOVE_LEFT &mmv MOVE_UP     &mmv MOVE_DOWN     &mmv MOVE_RIGHT     &trans  &skq LSHFT &skn RCTRL &skn RALT &skn RGUI
&trans     &msc SCRL_LEFT &msc SCRL_UP     &msc SCRL_DOWN     &msc SCRL_RIGHT     &trans  &trans     &trans     &trans    &trans
                                            &mkp RCLK          &mkp LCLK           &trans  &trans
            >;
        };

        fun_layer {
            display-name = "Fun";
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │CANCL│ BLE │ USB │     │BTCLR│   │     │ F7  │ F8  │ F9  │ F12 │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │ GUI │ ALT │CTRL │LSHFT│     │   │     │ F4  │ F5  │ F6  │ F11 │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │ BT0 │ BT1 │ BT2 │ BT3 │     │   │     │ F1  │ F2  │ F3  │ F10 │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │     │   │     │     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
&kp K_CANCEL  &out OUT_BLE  &out OUT_USB  &trans        &bt BT_CLR       &trans  &kp F7  &kp F8  &kp F9  &kp F12
&skn LGUI     &skn LALT     &skn LCTRL    &skq LSHFT    &trans            &trans  &kp F4  &kp F5  &kp F6  &kp F11
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans           &trans  &kp F1  &kp F2  &kp F3  &kp F10
                                           &trans        &trans           &kp RET  &kp BSPC
            >;
        };

        media_layer {
            display-name = "Media";
// ┌─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┐
// │     │     │     │     │     │   │     │     │     │     │     │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │PREV │VOL_D│VOL_U│NEXT │   │     │LSHFT│CTRL │ ALT │ GUI │
// ├─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┤
// │     │MUTE │BRI_D│BRI_U│PLAY │   │     │     │     │     │     │
// └─────┴─────┴─────┼─────┼─────┤   ├─────┼─────┼─────┴─────┴─────┘
//                   │     │     │   │     │     │
//                   └─────┴─────┘   └─────┴─────┘
            bindings = <
&trans  &trans      &trans       &trans       &trans          &trans  &trans     &trans     &trans    &trans
&trans  &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT     &trans  &skq LSHFT &skn RCTRL &skn RALT &skn RGUI
&trans  &kp C_MUTE  &kp C_BRI_DN &kp C_BRI_UP &kp C_PP       &trans  &trans     &trans     &trans    &trans
                                 &kp SPACE    &kp TAB          &trans  &trans
            >;
        };
    };
};
