/*
 * Dolphin1 — 基于 Sweep 的自制 34 键分体键盘
 *
 * 与原版 cradio 的区别：SW 编号与网络标号 1:1 映射（未打乱），
 * 导致 input-gpios 中 pin 6 和 pin 7 的位置与原版互换。
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <layouts/cuddlykeyboards/ferris.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &cuddlykeyboards_ferris_layout;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <34>;
        rows = <1>;
        map = <
        RC(0,0)  RC(0,1)  RC(0,2)  RC(0,3)  RC(0,4)    RC(0,21) RC(0,20) RC(0,19) RC(0,18) RC(0,17)
        RC(0,5)  RC(0,6)  RC(0,7)  RC(0,8)  RC(0,9)    RC(0,26) RC(0,25) RC(0,24) RC(0,23) RC(0,22)
        RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14)   RC(0,31) RC(0,30) RC(0,29) RC(0,28) RC(0,27)
                                   RC(0,15) RC(0,16)   RC(0,33) RC(0,32)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
        // 第一排 (Top Row: Q W E R T)
        = <&pro_micro  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW1  → Q
        , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW2  → W
        , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW3  → E
        , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW4  → R
        , <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW5  → T

        // 第二排 (Middle Row: A S D F G)
        , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW6  → A
        , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW7  → S
        , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW8  → D
        , <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW9  → F
        , <&pro_micro  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW10 → G

        // 第三排 (Bottom Row: Z X C V B)
        , <&pro_micro  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW11 → Z
        , <&pro_micro  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW12 → X
        , <&pro_micro  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW13 → C
        , <&pro_micro  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW14 → V
        , <&pro_micro  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW15 → B

        // 拇指键簇 (Thumb Cluster)
        , <&pro_micro  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW16 → Thumb 1
        , <&pro_micro  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // SW17 → Thumb 2
        ;
    };

};

&cuddlykeyboards_ferris_layout {
    transform = <&default_transform>;
    kscan = <&kscan0>;
};
